.bigotito{
    width: 180px;
    height: 180px;
    left: 400px;
    border-radius: 50%;
    position: absolute;
    color: brown;
    box-shadow: 
    150px 240px 0 0 currentColor,
    300px 240px 0 0 currentColor;
}
.bigotito::before{
    content: " ";
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;  
}
.bigotito::after{
    content: " ";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0 ;
    transform: rotate(30deg);
    transform-origin: left 210px;
}
.boca{
    width: 180px;
    height: 180px;
    left: 400px;
    border-radius: 50%;
    position: absolute;
    color:grey;
    box-shadow: 
    150px 240px 0 0 currentColor,
    300px 240px 0 0 currentColor,
       
}
body{
    height: 80px;
    right: 800px;
    background-image: url('bar.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    
}
